section#contacts.contacts
    .container
        .row
            .col-12.col-sm-12
                h1(
                    data-title='наши контакты'
                ) наши контакты
        .row
            .col-12.col-sm-12.col-md-5.col-lg-5.col-xl-5
                .contacts__email
                    a(
                        href="mailto:creative.studio@interplar.com"
                    ).link creative.studio@interplar.com
                    a(
                        href="#"
                    ).link behance
                    hr
            .col-12.col-sm-12.col-md-7.col-lg-7.col-xl-7
                .contacts__social-networks
                    hr
                    a(
                        href="#"
                    ).link vk interplar creative studio
                    a(
                        href="#"
                    ).link vk interplar design
        .row.flex-md-row-reverse.flex-lg-row-reverse.flex-xl-row-reverse

            .col-12.col-sm-12.col-md-7.col-lg-7.col-xl-7
                .contacts__work-us
                    p хочешь работать у нас?
                    p мы всегда в поисках новых талантов и свежих идей! Будем рады, если ты расскажешь о себе или своей идее.
                    a(
                        href="mailto:creative.studio@interplar.com"
                    ).link creative.studio@interplar.com

            .col-12.col-sm-12.col-md-5.col-lg-5.col-xl-5
                .contacts__back
                    p хочешь вернуться в начало страницы?
                    .button-2
                        p вернуться наверх