.menu
    .menu__button-mobile
        span
        span
    .menu__button
        span меню
        span
        span
    nav.menu__list
        a(href="#").link.menu-link главная
        ul
            li
                a.menu-link.sublink(
                    href="#about-us"
                    data-scroll-to
                ) кто мы

            li
                a.menu-link.sublink(
                    href="#direction"
                    data-scroll-to
                ) что мы делаем

            li
                a.menu-link.sublink(
                    href="#how-we-work"
                    data-scroll-to
                ) процесс работы
            li
                a.menu-link.sublink(
                    href="#team"
                    data-scroll-to
                ) наша команда
            li
                a.menu-link.sublink(
                    href="#our-clients"
                    data-scroll-to
                ) наши клиенты
        a(href="http://kram161.ru/interplar/caseLibrary.html").link.menu-link наши кейсы
        a(href="#").link.menu-link ваш проект
        a(href="mailto:mail@htmlacademy.ru").link.email-link creative.studio@interplar.com

