extends ../layouts/master

block title
    link(rel="stylesheet", href="assets/libs/splide.min.css")
    link(rel="stylesheet", href="assets/libs/locomotive-scroll.min.css")
    link(rel="stylesheet", href="assets/css/styles.min.css")


block content
    include ../includes/modules/pre-header
    include ../includes/modules/menu
    .guide.case-page-guide
        .guide__wrapper.last
            p.guide__last-page 2022&nbsp;©&nbsp;INTERPLAR&nbsp;CREATIVE&nbsp;STUDIO
            .guide__wrappe-img
                img(
                    src="assets/img/logo.svg"
                )
            p.guide__current-title Market 3D Planner
    #scroller-wrapper
        section#header.header(
            data-scroll
            data-scroll-id="header"
        )
            .container
                .row.header__title.justify-content-between
                    .col-6.col-sm-5.col-md-5.col-lg-5.col-xl-5
                        h1(
                            data-title='Market 3D Planner'
                        ) Market 3D Planner
                    .d-flex.col-6.col-sm-7.col-md-7.col-lg-7.col-xl-7
                        h2 разработка MVP для стартапа
                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        .header__image
                            picture
                                source(
                                    media='(min-width: 600px)',
                                    srcset="assets/img/3d-logo-desk.png"
                                )
                                img(
                                    src="assets/img/3d-logo-mobile.png"
                                )
        section#description.description
            .container
                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        .description__titel
                            h2 разработка MVP для стартапа
                .row.description__information
                    .d-none.d-sm-block.col-sm-5.col-md-5.col-lg-5.col-xl-5
                    .d-flex.flex-column.col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3
                        p /клиент/
                        p Market 3D Planner
                    .d-flex.flex-column.col-4.col-sm-4.col-md-4.col-lg-44.col-xl-4
                        p /студия/
                        p INTERPLAR
                //- .row.description__task
                    .d-none.d-sm-block.col-sm-5.col-md-5.col-lg-5.col-xl-5
                    .d-flex.flex-column.col-12.col-sm-7.col-md-7.col-lg-7.col-xl-7
                        p к нам обратился стартап из Казахстана в сфере продажи мебели. Идея состояла в применении 3D технологий для визуализации интерьеров прямо на сайте продажи мебели. Так клиенты могут сразу увидеть, как вещь будет смотреться в интерьере, и в один клик заказать всё необходимое. От нас требовалось создать основу для будущего продукта и его тестовую версию для презентации потенциальным инвесторам.
                .row.description__task
                    .col-12.col-sm-5.col-md-5.col-lg-5.col-xl-4
                        h2 задача проекта:
                    .d-none.d-xl-block.col-xl-1
                    .col-12.col-sm-7.col-md-7.col-lg-7.col-xl-7
                        p заказчик поставил нетривиальную задачу — разработать MVP 3D редактора на сайте.
                        br
                        br
                        p к нам обратился стартап из Казахстана в сфере продажи мебели. Идея состояла в применении 3D технологий для визуализации интерьеров прямо на сайте продажи мебели. Так клиенты могут сразу увидеть, как вещь будет смотреться в интерьере, и в один клик заказать всё необходимое. От нас требовалось создать основу для будущего продукта и его тестовую версию для презентации потенциальным инвесторам.
        section#task-solution.task-solution
            .container
                .row.task-solution__description
                    .col-12.col-sm-5.col-md-5.col-lg-5.col-xl-5
                        h2 решение задачи:
                    .col-12.col-sm-7.col-md-7.col-lg-7.col-xl-7
                        p прежде всего мы  реализовали библиотеку, которая позволила корректно управлять 3D редактором через интерфейс (vue js). Разработали многоуровневую архитектуру, чтобы можно было легко отделить фасад от остальной части библиотеки. 
                            br
                            | Вторым этапом интегрировали нашу собственную библиотеку во фронтэнд, чтобы у разработчиков была возможность настроить пользовательские интерфейсы. 
                            br
                            | Третий этап – 3D модели. Определив подходящий формат, мы разработали собственный пайплайн создания оптимизированных 3D моделей, подходящих под наши задачи.
                            br
                            | Стек технологий: Three.js, pixi.js, vue.js, pug, scss, Blender
        section#scroller-mobile.scroller-mobile.d-block.d-sm-none
            .container
                .row
                    .col-12
                        .scroller-mobile__image
                            iframe(src="https://vk.com/video_ext.php?oid=216176098&id=456239528&hash=46d7b06dca200cfe&hd=2" width="100%" height="100%" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen)
                    .col-12
                        .scroller-mobile__image
                            iframe(src="https://vk.com/video_ext.php?oid=216176098&id=456239527&hash=529838120b82dea0&hd=2" width="100%" height="100%" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen)
                    .col-12
                        .scroller-mobile__image
                            img(
                                src="assets/img/3d-logo-mobile.png"
                            )
                    .col-12
                        .scroller-mobile__image
                            img(
                                src="assets/img/3d-logo-mobile.png"
                            )
        .container.d-none.d-sm-block.task-slider
            section#sectionPin
                .pin-wrap
                    picture.task-img
                        iframe(src="https://vk.com/video_ext.php?oid=216176098&id=456239528&hash=46d7b06dca200cfe&hd=2" width="100%" height="100%" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen)
                    picture.task-img
                        iframe(src="https://vk.com/video_ext.php?oid=216176098&id=456239527&hash=529838120b82dea0&hd=2" width="100%" height="100%" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen)
                    picture.task-img
                        img(src="assets/img/3d-logo-mobile.png")
                    picture.task-img
                        img(src="assets/img/3d-logo-mobile.png")
        section#result.result
            .container
                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        hr
                .row.result__description
                    .col-12.col-sm-5.col-md-5.col-lg-5.col-xl-5
                        h2 итоги работы:
                    .col-12.col-sm-7.col-md-7.col-lg-7.col-xl-7
                        p наша команда разработала уникальную библиотеку для работы с 3D в вебе. Эта библиотека стала оберткой для Pixijs и Three js. Благодаря продуманной архитектуре, решение получилось очень удобным. Мы реализовали чертёжное (2D) и 3D отображение на двух библиотеках соответственно. Создали пайплайн разработки 3D моделей, пригодных для использования на сайтах. Получили невероятно интересный опыт и уникальный проект.
                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        hr
        include ../includes/modules/feedback
        include ../includes/modules/contacts

block scripts
    script(src="assets/libs/gsap.min.js")
    script(src="assets/libs/ScrollTrigger.min.js")
    script(src="assets/libs/locomotive-scroll.min.js")
    script(src="assets/libs/splide.js")
    script(src="assets/libs/casePage.js")
    script(src="assets/scripts/main.min.js")
